<%= content_tag :span, flight, id: "flight_#{ flight.id }" do %>
    <label style="vertical-align: middle">
      <%= flight.from_airport.code %>
      &Rightarrow;
      <%= flight.to_airport.code %>
      &#65292;
      <%= flight.leaves_at %>
      &#65292;
      <%= flight.start.strftime('%m/%d/%Y') %>
      &#65292;<%= flight.humanize_duration %>

    </label>
<% end %>

