<h3 class="search-header">Search for a flight</h3>
<%= form_with scope: :flight, url: flights_path, local: true, method: :get do |form| %>
  <div class="route">
    <div class="selection">
      <%= form.label :from_airport, :From %>
      <%= form.select :from_airport, airport_select, {}, class: 'select-css' %>
    </div>
    <div class="selection date">
      <%= form.label :Date %>
      <%= form.select :start, date_select, {}, class: 'select-css' %>
    </div>
  </div>
  <div class="route">
    <div class="selection">
      <%= form.label :to_airport, :To %>
      <%= form.select :to_airport, airport_select, {}, class: 'select-css' %>
    </div>
    <div class="selection passengers">
      <%= form.label :num_passengers, :Passengers %>
      <%= form.select :num_passengers, 1..4, {}, class: 'select-css' %>
    </div>
  </div>
  <div class="search">
    <%= form.submit :Search %>
  </div>
<% end %>

