<div class="new-booking">
   <h2>Add <%= @booking.passengers.to_a.count == 1 ? "passenger" : "passengers'" %> name and email to book your flight</h2>
  <%= render 'flights/flight', flight: @flight  %>
  <%= form_with model: @booking, local: true do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id %>
    <%= form.fields_for :passengers do |passengers_form| %>
      <%= passengers_form.hidden_field :id, value: nil %>
      <h5>Passenger&nbsp;<%= passengers_form.index + 1 %></h5>
      <%= passengers_form.text_field :name, placeholder: 'Name', autofocus: true %>
      <%= passengers_form.text_field :email, placeholder: 'Email' %>
    <% end %>
    <%= form.submit 'Book flight', class: 'btn-book' %>
  <% end %>
</div>
